/************ MENU STYLES ************/
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--purple);
	display: flex;
	align-items: center;
}

.navbar li a {
	display: block;
	color: var(--white);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

.navbar li p {
	display: block;
	color: var(--lightpurple);
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
}

.navbar li a:hover {
	color: var(--lightgrey);
}

.navbar li img {
	width: 45px;
}

.navbar li img:hover {
	opacity: 0.75;
}
