/************ GOOGLE FONT ************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/************ GLOBAL COLORS ************/
:root {
	--white: #fff;
	--black: #000;
	--lightgrey: #a4a4a4;
	--darkgrey: #1d1d1b;
	--purple: #4b01a0;
}

/************ GLOBAL STYLES ************/
* {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	background-color: var(--darkgrey);
	color: var(--lightgrey);
}

a {
	color: var(--white);
	text-decoration: none;
	font-size: 18px;
}

a:hover {
	color: var(--lightgrey);
}

/************ MENU STYLES ************/
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--purple);
	display: flex;
	align-items: center;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: var(--white);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

.navbar li a:hover {
	color: var(--lightgrey);
}

.menu-logo {
	width: 45px;
}

.menu-logo:hover {
	opacity: 0.75;
}

/************ CONTAINERS ************/
.container {
	margin: 24px;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 24px;
}

.notes-container {
	display: grid;
	grid-column-gap: 24px;
	grid-template-columns: repeat(2, 1fr);
}

.note-container {
	border: 0.5px solid var(--lightgrey);
	border-radius: 12px;
	padding: 24px;
	margin-bottom: 24px;
	color: var(--lightgrey);
	height: fit-content;
}

.md-editor {
	border: 0.5px solid var(--lightgrey);
	border-radius: 12px;
	padding: 24px;
	margin-bottom: 24px;
	color: var(--lightgrey);
	height: fit-content;
}

/************ BUTTON STYLES ************/
.btn {
	background-color: var(--purple);
	border-radius: 12px;
	border: none;
	outline: none;
	padding: 10px;
	margin-top: 12px;
	margin-right: 12px;
	color: var(--white);
	display: inline-block;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}
.btn:hover {
	opacity: 0.5;
}

/************ FORM STYLES ************/
.form {
	display: grid;
	border: 0.5px solid var(--lightgrey);
	border-radius: 12px;
	padding: 24px;
	margin-bottom: 24px;
	color: var(--lightgrey);
	height: fit-content;
	width: 33vw;
}
