.note {
	border: 0.5px solid var(--lightgrey);
	border-radius: 12px;
	padding: 18px;
	color: var(--lightgrey);
	height: fit-content;
}

.noteContent {
	border: 0.5px solid var(--lightgrey);
	border-radius: 12px;
	padding: 18px;
	color: var(--white);
	height: 200px;
	resize: both;
	overflow: hidden;
}

.noteFooter {
	color: var(--lightgrey);
	height: fit-content;
}

.date {
	margin-top: 8px;
	font-size: 12px;
}
