/************ FORM STYLES ************/

/* PHONE */

@media (min-width: 200px) {
	.formContainer {
		border: 0.5px solid var(--lightgrey);
		border-radius: 12px;
		padding: 24px;
		color: var(--lightgrey);
		height: fit-content;
		width: 90vw;
		margin: 0 auto;
	}
	.form {
		display: grid;
		grid-row-gap: 6px;
	}

	.form input {
		border-radius: 12px;
		padding: 8px;
		border: none;
		width: 100%;
	}

	.errorBox {
		background-color: var(--lighterror);
		color: var(--error);
		padding: 8px;
		border: 0.5px solid var(--error);
		border-radius: 12px;
		margin-top: 18px;
	}
}

/* TABLET */

@media (min-width: 500px) {
	.formContainer {
		width: 70vw;
	}
}

/* DESKTOP */

@media (min-width: 1025px) {
	.formContainer {
		width: 40vw;
	}
}
